@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@

    <h1>@message</h1>
    <a href="@routes.Application.login()">@Messages("login")</a>
    <a href="@routes.Signup.getRegister()">@Messages("register")</a>

    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>
    <ul id="persons"></ul>

    <form method="POST" action="@routes.PersonController.addPerson()">
        <input type="text" name="name"/>
        <button>Add Person</button>
    </form>

}
